<mat-card class="card">
  <mat-card-title>Angular Folder Structure</mat-card-title>
  <mat-card-content>
    <p>
      Based on best practices from the community, other github Angular projects, 
      developer experience from production Angular projects, and contributors, 
      this project goal is to create a skeleton structure which is flexible 
      for projects big or small.
    </p>
    <p>
      Based on best practices from the community, other github Angular projects, 
      developer experience from production Angular projects, and contributors, 
      this project goal is to create a skeleton structure which is flexible 
      for projects big or small.
    </p>
  
  
    <p>
      Based on best practices from the community, other github Angular projects, 
      developer experience from production Angular projects, and contributors, 
      this project goal is to create a skeleton structure which is flexible 
      for projects big or small.
    </p>
  </mat-card-content>
</mat-card>
  
    
  
