mat-card{
  width:70%;
  background-color: #dadada;
  margin: 0 auto;
}
mat-card-title {
  text-align: center;

}
.example-container  {
    padding: 1 rem;
    width: 100%;
   
  }
  mat-label{
    text-align: center;
    font-size: 20px;
    padding: 1rem;
  }
  mat-form-field{
   // background-color: aqua;
    width: 100%;
  }
  .btn-tray{
    padding: 1rem ;
    //background-color: blanchedalmond;
    //border: 1px solid red ;
  }
  button {
    
    margin: 0 1rem;
  }

  