.example-card {
    max-width: 240px;
    max-height: 440px;
    background-color: #dada99;
  }
  
  .example-header-image {
    background-image: url('https://loremflickr.com/50/50/dog');
    background-size: cover;
  }