
<footer class="footer">
    
    <div class="container">
      <span class="text-muted">
        &copy; {{currentYear}} All Credit goes to
        <a href="https://mathisgarberg.no">Mathis Garberg</a>,
        <a href="mailto:tom.h.anderson@gmail.com">Tom H Anderson</a>,
        <a href="https://www.johnpapa.net">John Papa</a>
          and inspired from
        <a href="https://github.com/mathisGarberg/angular-folder-structure">
          Github Link
        </a>
      </span>
    </div>
  </footer>